/* Mobile Styles */
.card-view {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.list-view {
  width: 100%;
}

.list-view > .card-item {
  border: 1px solid black;
  border-radius: 4px;
}

.card-item {
  margin-bottom: 8px;
  list-style: none;
  padding: 8px;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: space-evenly;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 200px;
  margin-bottom: 16px;
}

.search-container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  justify-content: space-evenly;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 8px;
  padding: 2px 0px;
}

.search-input {
  width: 100%;
  margin-bottom: 8px;
  border: 0px;
  border-right: 1px solid black;
  margin-top: 0px;
}

.search-button {
  background: none;
  border: unset;
  cursor: pointer;
  height: 48px;
}

.select-input {
  border-radius: 4px;
  width: 100%;
}

.select-input,
.search-input {
  padding: 16px;
}

.text-bold {
  font-weight: 700;
}

.thumbnail {
  margin-bottom: 8px;
  max-height: 250px;
}

.item-author,
.item-title {
  min-height: 42px;
}

.item-description {
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 160px;
  display: -webkit-box;
  line-height: 16px;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.more-info {
  padding: 16px;
  border: 1px black solid;
  border-radius: 4px;
  margin-top: 16px;
}

/* Tablet Styles */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  .card-item {
    flex: 0 0 40%;
  }

  .filter-container {
    flex-direction: column;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1200px) {
  .card-item {
    flex: 0 0 20%;
  }

  .filter-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .search-container {
    width: 400px;
  }

  .search-input {
    width: 80%;
    margin-bottom: 0px;
  }

  .select-input {
    width: unset;
  }

  .thumbnail {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
}

/* Loader styles */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
