{{ attach_library('books/books') }}
{{ attach_library('books/loadBooks') }}

<div class="container">
  <div class="filter-container">
    <div class="search-container">
      <input type="text" class="search-input" aria-label="search input">
      <button id="search-button" class="search-button" type="button"> Search </button>
    </div>


    <select id="view-select" class="select-input" onchange={onChangeView()} aria-label="change view">
      <option aria-label="card view" value="card">Card</option>
      <option aria-label="list view" value="list">List</option>
    </select>

  </div>

  <div id='item-view' class="card-view">
  </div>
</div>

<script>
  function onChangeView() {
    var ChangeViewInput = document.getElementById("view-select");
    var ItemContainer = document.getElementById("item-view");
    ItemContainer.className = `${ChangeViewInput.value}-view`;
  }
</script>
